doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body {
        font-family: sans-serif;
        font-weight: 50;
      }
      label {
        margin-bottom: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 200;
        line-height: 1.2;
        color: inherit;
      }
      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 200;
        line-height: 1.2;
        color: inherit;
      }
      b {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
       }

      form {border: 3px solid #f1f1f1;}
      input[type=text], input[type=password] {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      button {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      background-color: #12bbad;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 12px;
      }
      button:hover {
      opacity: 0.8;
      }
      .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #4f70ce;
      }
      .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      }
      img.avatar {
      width: 40%;
      border-radius: 50%;
      }
      .container {
      padding: 16px;
      }
      span.psw {
      float: right;
      padding-top: 16px;
      }
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
      .cancelbtn {
      width: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
      }  body
    h2 Change Password
    form(action="/manageAccount/editPassword/"+"#{player.username}", method="POST")
        label(for='currPassword')
          b Current Password
        input(type='text', placeholder='Enter Current Password', name='currPassword', required='')
        label(for='newPassword')
          b New Password
        input(type='password', placeholder='Enter New Password', name='newPassword', required='')
        button(type='submit') Submit

    form(action="/accountList" method="get")
      button.cancelbtn(type='submit', style='width:100%') Cancel
