h1 Login Mitra
form(action='/login/login', method="POST")
  | Username:
  br
  input(type='text', name='username')
  br
  |   Password:
  br
  input(type='password', name='password')
  br
  br
  input(type='submit', value='Submit')
