doctype html
html
  head
    title Main Page
  body
    h1 Welcome ...
    h2 Menu
    a(href='./pemesanan.jade', role='button') Pemesanan
    a(href='./historimitra.jade', role='button') Histori Pemesanan
