doctype html
html
  head
    title Main Page
  body
    h1 Welcome ...
    h2 Menu
    a(href='', role='button') Daftar Pesanan
    a(href='', role='button') Manajemen Akun
    a(href='', role='button') Update Stok
