doctype html
html
  head
    meta(charset='utf-8')
    |
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    |
    link(rel='stylesheet', href='/stylesheets/theme.css', type='text/css')
  body
    .py-5.text-center
      .container
        .row
          .mx-auto.col-lg-6.col-10
            h1(contenteditable='true') Daftar Akun
            |
            form.text-left
              .table-responsive
                table.table.table-striped.table-borderless
                  thead
                    tr
                      th(scope='col') Username
                      |
                      th(scope='col') Action
                  |
                  tbody
                    each account in accounts
                     tr
                      td #{account.username}
                      td
                        form(action="/editPassword/"+ "#{account.username}", method="GET")
                            button(type='submit', style="width:80px") Edit
                        form(action="/deleteAccount/"+ "#{account.username}", method="GET")
                            button(type='submit', style="width:80px") Delete
              |
            form(action="/addAccount", method="GET")
              button.btn.btn-primary(type='submit', style="width:100%") Add Account
            br
            form(action="/accountList", method="GET")
              button.btn.btn-primary(type='submit', style="width:100%") Close
    |
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    |
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    |
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
