doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // PAGE settings
    link(rel='icon', href='https://templates.pingendo.com/assets/Pingendo_favicon.ico')
    title Restaurant Aquamarine - Pingendo template
    meta(name='description', content='Free Bootstrap 4 Pingendo Aquamarine template for restaurant and food')
    meta(name='keywords', content='Pingendo restaurant food aquamarine free template bootstrap 4')
    // CSS dependencies
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/aquamarine.css', type='text/css')
    // Script: Make my navbar transparent when the document is scrolled to top
    script(src='/javascripts/firstpage/navbar-ontop.js')
    // Script: Animated entrance
    script(src='/javascripts/firstpage/animate-in.js')
  body
    // Navbar
    // Cover
    .align-items-center.d-flex.cover.section-aquamarine.py-5(style='background-image: url("/images/firstpage/restaurant/cover_light.jpg");')
      .container
        .row
          .col-lg-7.align-self-center.text-lg-left.text-center
            h1.mb-0.mt-5.display-4 Login as Pusat
          .col-lg-5.p-3
            form.p-4.bg-light.w-100(method='post', action='/adminl/login')
              .form-group
                label Username
                input.form-control(type='text', placeholder='Enter username', name='username', style='')
              .form-group
                label Password
                input.form-control(type='password', placeholder='Enter password', name='password')
              button.btn.btn-primary(type='submit') Login
    // Intro
    // Gallery
    // Menu
    // Carousel reviews
    // Carousel venue
    // Events
    // Parallax section
    // Footer
    // JavaScript dependencies
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    // Script: Smooth scrolling between anchors in the same page
    script(src='/javascripts/firstpage/smooth-scroll.js', style='')
    
